@inject IRoomChartListViewModel ViewModel
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar
@implements IDisposable

<h3>@RoomName</h3>

<SelectDates RoomId="@this.RoomId" MaxDate="@this.MaxDate" MinDate="@this.MinDate" @bind-StartDate=@StartDate @bind-EndDate=@EndDate @bind-IsClicked=@IsDisplayed></SelectDates>

@if ((this.Models != null) && (this.Models.Any() == true))
{
    foreach (RoomChartModel model in this.Models)
    {
        <RoomChart Labels="@model.Labels" Humidities="@model.Humidities" Temperatures="@model.Temperatures" CurrentDay="@model.Day"></RoomChart>
    }
}
else
{
    <MudProgressCircular Color="Color.Default" Class="ml-6" Indeterminate="true" />
}

@code 
{
    private bool isdisplayed = false;

    public event EventHandler? PropertyChanged;

    [Parameter]
    public string RoomId { get; set; } = string.Empty;

    [Parameter]
    public string RoomName { get; set; } = string.Empty;

    public DateTime? MaxDate { get; set; }

    public DateTime? MinDate { get; set; }

    public bool IsDisplayed
    {
        get
        {
            return isdisplayed;
        }

        set
        {
            if (isdisplayed != value)
            {
                isdisplayed = value;
                if ((this.PropertyChanged != null) && (isdisplayed == true))
                {
                    this.PropertyChanged.Invoke(this, new EventArgs());
                }
            }
        }
    }

    public DateTime? StartDate { get; set; } = DateTime.Today;

    private DateTime? EndDate { get; set; } = DateTime.Today;

    private IEnumerable<RoomChartModel>? Models { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (this.ViewModel != null)
        {
            await this.ViewModel.InitializeAsync(null);
            this.PropertyChanged += this.PropertyChangedHandler;
        }
    }
    protected override async Task OnParametersSetAsync()
    {
        if ((this.ViewModel != null) && (string.IsNullOrEmpty(this.RoomId) == false))
        {
            try
            {
                this.MaxDate = await this.ViewModel.GetRoomMaxDate(this.RoomId);
                this.MinDate = await this.ViewModel.GetRoomMinDate(this.RoomId);

                await this.DisplayCharts();
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }
    public void Dispose()
    {
        this.ViewModel?.Dispose();
        this.PropertyChanged -= this.PropertyChangedHandler;
    }   
    public async Task DisplayCharts()
    {
        if (this.ViewModel != null)
        {
            this.Models = await this.ViewModel.GetChartsData(this.StartDate, this.EndDate, this.RoomId);
        }
        else
        {
            this.Models = null;
        }

        this.IsDisplayed = false;
    }
    private async void PropertyChangedHandler(object? sender, EventArgs? args)
    {
        await this.DisplayCharts();
        this.StateHasChanged();
    }
}


