@inject IStringLocalizer<Resource> Localizer
@inject IHomeViewModel ViewModel
@inject IPositionService PositionService
@inject IJSRuntime JsRuntime
@implements IDisposable


<div class="d-flex align-center gap-4 mb-2">
    <MudText Typo="Typo.h5" Color="Color.Primary">@this.Location?.Name</MudText>
</div>

<ErrorBoundary @ref="ErrorBoundaryWeather">
    <ChildContent>
        <WeatherHome Longitude="@this.Longitude" Latitude="@this.Latitude"></WeatherHome>
    </ChildContent>
    <ErrorContent>
        <MudContainer Style="height:80px;" Class="d-flex align-center gap-2">
            <MudText Typo="Typo.h6" Class="mr-4">Weather @this.Localizer["HS"]</MudText>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.ErrorOutline" @onclick="ResetErrorWeather" Color="Color.Warning">Reload</MudButton>
        </MudContainer>
    </ErrorContent>
</ErrorBoundary>

<ErrorBoundary @ref="ErrorBoundaryAirPollution">
    <ChildContent>
        <AirPollutionHome Longitude="@this.Longitude" Latitude="@this.Latitude"></AirPollutionHome>
    </ChildContent>
    <ErrorContent>
        <MudContainer Style="height:80px;" Class="d-flex align-center gap-2">
            <MudText Typo="Typo.h6" Class="mr-4">AirPollution @this.Localizer["HS"]</MudText>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.ErrorOutline" @onclick="ResetErrorAirPollution" Color="Color.Warning">Reload</MudButton>
        </MudContainer>
    </ErrorContent>
</ErrorBoundary>

@code
{
    public LocationModel Location { get; set; }
    public string Longitude { get; set; }
    public string Latitude { get; set; }
    private ErrorBoundary ErrorBoundaryAirPollution;
    private ErrorBoundary ErrorBoundaryWeather;

    protected override async Task OnInitializedAsync()
    {
        if (this.ViewModel != null)
        {
            await this.ViewModel.InitializeAsync(null);
            await this.PositionService.GetCurrentPosition(JsRuntime, GetPositionAsync);
        }
    }

    private async Task GetPositionAsync(double longitude, double latitude)
    {
        this.Longitude = longitude.ToString();
        this.Latitude = latitude.ToString();
        this.Location = await this.ViewModel.GetLocationModel(this.Latitude, this.Longitude);
        this.StateHasChanged();
    }

    public void Dispose()
    {
        this.ViewModel?.Dispose();
    }

    protected override void OnParametersSet()
    {
        ErrorBoundaryWeather?.Recover();
        ErrorBoundaryAirPollution?.Recover();
    }

    private void ResetErrorWeather()
    {
        ErrorBoundaryWeather?.Recover();
    }

    private void ResetErrorAirPollution()
    {
        ErrorBoundaryAirPollution?.Recover();
    }
}
