@inject IStringLocalizer<Resource> Localizer
@inject IHomeViewModel ViewModel
@inject IPositionService PositionService
@inject IJSRuntime JsRuntime
@implements IDisposable

<div class="d-flex flex-column">
    <div class="d-flex justify-content-between mb-6">
        <ErrorBoundary @ref="ErrorBoundaryLocation">
            <ChildContent>
                <LocationHome Model="@this.Model"></LocationHome>
            </ChildContent>
            <ErrorContent>
                <MudContainer Style="height:80px;" Class="d-flex align-center gap-2">
                    <MudText Typo="Typo.h6" Class="mr-4">Location Service @this.Localizer["HS"]</MudText>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.ErrorOutline" @onclick="ResetErrorLocation" Color="Color.Warning">Reload</MudButton>
                </MudContainer>
            </ErrorContent>
        </ErrorBoundary>
        <ErrorBoundary @ref="ErrorBoundaryLocationSearch">
            <ChildContent>
                <LocationSearch ModelChanged="@this.SelectLocation"></LocationSearch>
            </ChildContent>
            <ErrorContent>
                <MudContainer Style="height:80px;" Class="d-flex align-center gap-2">
                    <MudText Typo="Typo.h6" Class="mr-4">Location Service @this.Localizer["HS"]</MudText>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.ErrorOutline" @onclick="ResetErrorLocationSearch" Color="Color.Warning">Reload</MudButton>
                </MudContainer>
            </ErrorContent>
        </ErrorBoundary>
    </div>
</div>

<ErrorBoundary @ref="ErrorBoundaryWeather">
    <ChildContent>
        <WeatherHome Location="@this.Model"></WeatherHome>
    </ChildContent>
    <ErrorContent>
        <MudContainer Style="height:80px;" Class="d-flex align-center gap-2">
            <MudText Typo="Typo.h6" Class="mr-4">Weather Service @this.Localizer["HS"]</MudText>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.ErrorOutline" @onclick="ResetErrorWeather" Color="Color.Warning">Reload</MudButton>
        </MudContainer>
    </ErrorContent>
</ErrorBoundary>

<ErrorBoundary @ref="ErrorBoundaryAirPollution">
    <ChildContent>
        <AirPollutionHome Location="@this.Model"></AirPollutionHome>
    </ChildContent>
    <ErrorContent>
        <MudContainer Style="height:80px;" Class="d-flex align-center gap-2">
            <MudText Typo="Typo.h6" Class="mr-4">AirPollution Service @this.Localizer["HS"]</MudText>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.ErrorOutline" @onclick="ResetErrorAirPollution" Color="Color.Warning">Reload</MudButton>
        </MudContainer>
    </ErrorContent>
</ErrorBoundary>

@code
    {
    private ErrorBoundary ErrorBoundaryAirPollution;
    private ErrorBoundary ErrorBoundaryWeather;
    private ErrorBoundary ErrorBoundaryLocation;
    private ErrorBoundary ErrorBoundaryLocationSearch;

    private bool? LocalizationIsAvailable { get; set; } = null;

    private LocationModel Model { get; set; } = new LocationModel();

    protected override async Task OnInitializedAsync()
    {
        #if DEBUG
        //await Task.Delay(5000);
        #endif

        if (this.ViewModel != null)
        {
            await this.ViewModel.InitializeAsync(null);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if ((this.ViewModel != null) && (this.PositionService != null))
        {
            await this.PositionService.GetCurrentPosition(JsRuntime, GetPositionAsync, GetErrorAsync);

            ErrorBoundaryWeather?.Recover();
            ErrorBoundaryAirPollution?.Recover();
            ErrorBoundaryLocation?.Recover();
            ErrorBoundaryLocationSearch?.Recover();
        }
    }

    private async Task GetErrorAsync(string error)
    {
        this.Model.LocalizationIsAvailable = await Task.FromResult<bool>(false);        

        //Warning don't delete this line
        this.StateHasChanged();
    }

    private async Task GetPositionAsync(double longitude, double latitude)
    {
        this.Model.Longitude = Math.Round(longitude,6);
        this.Model.Latitude = Math.Round(latitude,6);
        this.Model.LocalizationIsAvailable = await Task.FromResult<bool>(true);

        //Warning don't delete this line
        this.StateHasChanged();
    }

    public void Dispose()
    {
        this.ViewModel?.Dispose();
    }

    private void ResetErrorWeather()
    {
        ErrorBoundaryWeather?.Recover();
    }

    private void ResetErrorAirPollution()
    {
        ErrorBoundaryAirPollution?.Recover();
    }

    private void ResetErrorLocation()
    {
        ErrorBoundaryLocation?.Recover();
    }

    private void ResetErrorLocationSearch()
    {
        ErrorBoundaryLocationSearch?.Recover();
    }

    private void SelectLocation(LocationModel model)
    {
        this.Model = model;
    }
}
